@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center display-1 fw-bold">Welcome to Corey's Knick Knacks!</h1>
<h2 class="text-center display-1 fs-3 fst-italic">Navigate through the menus on the left to browse our store!</h2>
<body class="bg-dark-subtle">

</body>